:root {
    --storage_border_color: #050505;
    --storage_border_size: 0vmin;
    --storage_background_color: #050505;
  }

.storages {
    width: 98vmin;
    border: 3px solid #1b5bc200;
    background: #14449100;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 24vmin);
}


/* 406 */
.storage_406_button{
    width: 25%;
    right: 0px;
    top: 0px;
    position: relative;
    border: var(--storage_border_size) solid var(--storage_border_color);
    background: var(--storage_background_color);
    outline: none;
    float: left;
    color: #ffffff;
    border-radius: 35px;
}
.storage_406_button::after {
    padding-bottom: 100%;
}


/* B05 */
.B05_button{
    width: 25%;
    right: 0px;
    top: 0px;
    position: relative;
    border: var(--storage_border_size) solid var(--storage_border_color);
    background: var(--storage_background_color);
    outline: none;
    float: left;
    color: #ffffff;
    border-radius: 35px;
}
.B05_button::after {
    padding-bottom: 100%;
}


/* B09-3 */
.B09-3_button{
    width: 25%;
    right: 0px;
    top: 0px;
    position: relative;
    border: var(--storage_border_size) solid var(--storage_border_color);
    background: var(--storage_background_color);
    outline: none;
    float: left;
    color: #ffffff;
    border-radius: 35px;
}
.B09-3_button::after {
    padding-bottom: 100%;
  }

/* 527 */
.storage_527_button{
    width: 25%;
    right: 0px;
    top: 0px;
    position: relative;
    border: var(--storage_border_size) solid var(--storage_border_color);
    background: var(--storage_background_color);
    outline: none;
    float: left;
    color: #ffffff;
    border-radius: 35px;
}
.storage_527_button::after {
    padding-bottom: 100%;
  }


/* title */
.title {
    width: 40vmin;
    height: 6vmin;
    background: none;
    border: none;
    text-align: center;
    font-size: 3.5vmin;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 18.5vmin);
    margin: 0;
}