:root {
    --box_406_size: 8vmin;
    --space_border_color: #050505;
    --space_border_size: 3px;
    --box_406_border_size: 0.4vw;
    --box_406_border_color: #f00;
  }

.main_406 {
    width: calc(20.5 * var(--box_406_size));
    border: 3px solid #1b5bc200;
    background: #28267e00;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 25vmin);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
}

.space_1_406{  /*10:10*/
    width: calc(10 * var(--box_406_size));
    height: calc(10 * var(--box_406_size));
    background-image: url("../images/storage/406/space_1.png");
    background-size: 100% 100%;
    border: var(--space_border_size) solid var(--space_border_color);
    position: relative;
}
.space_2_406{  /*12:10*/
    width: calc(12 * var(--box_406_size));
    height: calc(10 * var(--box_406_size));
    background-image: url("../images/storage/406/space_2.png");
    background-size: 100% 100%;
    border: var(--space_border_size) solid var(--space_border_color);
    position: relative;
}
.space_3_406{  /*14:8*/
    width: calc(14 * var(--box_406_size));
    height: calc(8 * var(--box_406_size));
    background-image: url("../images/storage/406/space_3.png");
    background-size: 100% 100%;
    border: var(--space_border_size) solid var(--space_border_color);
    position: relative;
}
.space_4_406{  /*18:10*/
    width: calc(18 * var(--box_406_size));
    height: calc(10 * var(--box_406_size));
    background-image: url("../images/storage/406/space_4.png");
    background-size: 100% 100%;
    border: var(--space_border_size) solid var(--space_border_color);
    position: relative;
}
.space_5_406{  /*18:10*/
    width: calc(18 * var(--box_406_size));
    height: calc(10 * var(--box_406_size));
    background-image: url("../images/storage/406/space_5.png");
    background-size: 100% 100%;
    border: var(--space_border_size) solid var(--space_border_color);
    position: relative;
}
.space_6_406{  /*11:10*/
    width: calc(11 * var(--box_406_size));
    height: calc(10 * var(--box_406_size));
    background-image: url("../images/storage/406/space_6.png");
    background-size: 100% 100%;
    border: var(--space_border_size) solid var(--space_border_color);
    position: relative;
}
.space_7_406{  /*9:10*/
    width: calc(9 * var(--box_406_size));
    height: calc(10 * var(--box_406_size));
    background-image: url("../images/storage/406/space_7.png");
    background-size: 100% 100%;
    border: var(--space_border_size) solid var(--space_border_color);
    position: relative;
}



/*space 1 */
.box_406_0{ 
    position: absolute;
    width: calc(203 * var(--box_406_size) / 100);
    height: calc(320 * var(--box_406_size) / 100);
    left: calc(16 * var(--box_406_size) / 100);
    top: calc(202 * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_1{
    position: absolute;
    width: calc(220 * var(--box_406_size) / 100);
    height: calc(470 * var(--box_406_size) / 100);
    left: calc(210 * var(--box_406_size) / 100);
    top: calc(22 * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_2{
    position: absolute;
    width: calc(196 * var(--box_406_size) / 100);
    height: calc(299 * var(--box_406_size) / 100);
    left: calc(405 * var(--box_406_size) / 100);
    top: calc(189 * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_3{
    position: absolute;
    width: calc(152 * var(--box_406_size) / 100);
    height: calc(328 * var(--box_406_size) / 100);
    left: calc(596 * var(--box_406_size) / 100);
    top: calc(151 * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_4{
    position: absolute;
    width: calc(185 * var(--box_406_size) / 100);
    height: calc(319 * var(--box_406_size) / 100);
    left: calc(714 * var(--box_406_size) / 100);
    top: calc(164 * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_6{
    position: absolute;
    width: calc(627 * var(--box_406_size) / 100);
    height: calc(395 * var(--box_406_size) / 100);
    left: calc(338 * var(--box_406_size) / 100);
    top: calc(597 * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}



/*space 2 */
:root {
    --box_406_5_w: 1138;  /*1138*600  24,11 */
    --box_406_5_h: 600;
    --box_406_5_x: 24;
    --box_406_5_y: 11;

    --box_406_7_w: 453;
    --box_406_7_h: 315;
    --box_406_7_x: 34;
    --box_406_7_y: 636;

    --box_406_8_w: 466;
    --box_406_8_h: 330;
    --box_406_8_x: 626;
    --box_406_8_y: 646;
}
.box_406_5{
    position: absolute;
    width:  calc(var(--box_406_5_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_5_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_5_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_5_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_7{ 
    position: absolute;
    width:  calc(var(--box_406_7_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_7_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_7_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_7_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_8{ 
    position: absolute;
    width:  calc(var(--box_406_8_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_8_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_8_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_8_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}



/*space 3 */
:root {
    --box_406_9_w: 1381;
    --box_406_9_h: 754;
    --box_406_9_x: 9;
    --box_406_9_y: 28;
}
.box_406_9{
    position: absolute;
    width:  calc(var(--box_406_9_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_9_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_9_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_9_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}


/*space 4 */
:root {
    --box_406_10_w: 1759;
    --box_406_10_h: 928;
    --box_406_10_x: 22;
    --box_406_10_y: 22;
}
.box_406_10{
    position: absolute;
    width:  calc(var(--box_406_10_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_10_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_10_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_10_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}


/*space 5 */
:root {
    --box_406_11_w: 1787;
    --box_406_11_h: 916;
    --box_406_11_x: 2;
    --box_406_11_y: 64;
}
.box_406_11{
    position: absolute;
    width:  calc(var(--box_406_11_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_11_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_11_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_11_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}

/*space 6 */
:root {
    --box_406_12_w: 252;
    --box_406_12_h: 721;
    --box_406_12_x: 9;
    --box_406_12_y: 185;

    --box_406_13_w: 405;
    --box_406_13_h: 161;
    --box_406_13_x: 245;
    --box_406_13_y: 41;

    --box_406_14_w: 399;
    --box_406_14_h: 195;
    --box_406_14_x: 249;
    --box_406_14_y: 199;

    --box_406_15_w: 389;
    --box_406_15_h: 206;
    --box_406_15_x: 256;
    --box_406_15_y: 388;

    --box_406_16_w: 384;
    --box_406_16_h: 205;
    --box_406_16_x: 260;
    --box_406_16_y: 583;

    --box_406_17_w: 373;
    --box_406_17_h: 165;
    --box_406_17_x: 270;
    --box_406_17_y: 777;

    --box_406_18_w: 411;
    --box_406_18_h: 159;
    --box_406_18_x: 669;
    --box_406_18_y: 45;

    --box_406_19_w: 407;
    --box_406_19_h: 192;
    --box_406_19_x: 666;
    --box_406_19_y: 207;

    --box_406_20_w: 357;
    --box_406_20_h: 196;
    --box_406_20_x: 665;
    --box_406_20_y: 399;

    --box_406_21_w: 382;
    --box_406_21_h: 198;
    --box_406_21_x: 663;
    --box_406_21_y: 594;

    --box_406_22_w: 403;
    --box_406_22_h: 197;
    --box_406_22_x: 656;
    --box_406_22_y: 789;
}
.box_406_12{
    position: absolute;
    width:  calc(var(--box_406_12_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_12_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_12_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_12_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_13{
    position: absolute;
    width:  calc(var(--box_406_13_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_13_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_13_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_13_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_14{
    position: absolute;
    width:  calc(var(--box_406_14_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_14_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_14_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_14_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_15{
    position: absolute;
    width:  calc(var(--box_406_15_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_15_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_15_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_15_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_16{
    position: absolute;
    width:  calc(var(--box_406_16_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_16_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_16_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_16_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_17{
    position: absolute;
    width:  calc(var(--box_406_17_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_17_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_17_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_17_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_18{
    position: absolute;
    width:  calc(var(--box_406_18_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_18_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_18_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_18_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_19{
    position: absolute;
    width:  calc(var(--box_406_19_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_19_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_19_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_19_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_20{
    position: absolute;
    width:  calc(var(--box_406_20_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_20_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_20_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_20_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_21{
    position: absolute;
    width:  calc(var(--box_406_21_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_21_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_21_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_21_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_22{
    position: absolute;
    width:  calc(var(--box_406_22_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_22_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_22_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_22_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}



/*space 7 */
:root {
    --box_406_23_w: 438;
    --box_406_23_h: 203;
    --box_406_23_x: 9;
    --box_406_23_y: 29;

    --box_406_24_w: 431;
    --box_406_24_h: 188;
    --box_406_24_x: 24;
    --box_406_24_y: 233;

    --box_406_25_w: 421;
    --box_406_25_h: 177;
    --box_406_25_x: 39;
    --box_406_25_y: 427;

    --box_406_26_w: 441;
    --box_406_26_h: 209;
    --box_406_26_x: 458;
    --box_406_26_y: 6;

    --box_406_27_w: 433;
    --box_406_27_h: 182;
    --box_406_27_x: 464;
    --box_406_27_y: 218;

    --box_406_28_w: 432;
    --box_406_28_h: 200;
    --box_406_28_x: 464;
    --box_406_28_y: 401;

    --box_406_29_w: 420;
    --box_406_29_h: 346;
    --box_406_29_x: 49;
    --box_406_29_y: 608;

    --box_406_30_w: 431;
    --box_406_30_h: 352;
    --box_406_30_x: 468;
    --box_406_30_y: 608;
}
.box_406_23{
    position: absolute;
    width:  calc(var(--box_406_23_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_23_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_23_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_23_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_24{
    position: absolute;
    width:  calc(var(--box_406_24_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_24_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_24_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_24_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_25{
    position: absolute;
    width:  calc(var(--box_406_25_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_25_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_25_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_25_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_26{
    position: absolute;
    width:  calc(var(--box_406_26_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_26_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_26_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_26_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_27{
    position: absolute;
    width:  calc(var(--box_406_27_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_27_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_27_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_27_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_28{
    position: absolute;
    width:  calc(var(--box_406_28_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_28_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_28_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_28_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_29{
    position: absolute;
    width:  calc(var(--box_406_29_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_29_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_29_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_29_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}
.box_406_30{
    position: absolute;
    width:  calc(var(--box_406_30_w) * var(--box_406_size) / 100);
    height: calc(var(--box_406_30_h) * var(--box_406_size) / 100);
    left:   calc(var(--box_406_30_x) * var(--box_406_size) / 100);
    top:    calc(var(--box_406_30_y) * var(--box_406_size) / 100);
    border: 0px;
    outline: none;
    transform: translate(0, 0);
    filter : grayscale(1);
}



/*마우스 올려두면 색 원상복구*/
.box_406_0:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_1:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_2:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_3:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_4:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_5:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_6:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_7:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_8:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_9:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_10:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_11:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_12:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_13:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_14:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_15:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_16:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_17:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_18:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_19:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_20:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_21:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_22:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_23:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_24:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_25:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_26:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_27:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_28:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_29:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}
.box_406_30:hover{
    filter : grayscale(0);
    border: var(--box_406_border_color) var(--box_406_border_size) solid;
	box-sizing: border-box;
    z-index: 1;
}