.utility {
    width: 12vw;
    outline: none;
    position: absolute;
    left: 0%;
    transform: translate(-0%, 0vmin);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.utility_button{
    width: 4vmin;
    height: 4vmin;
    border: 0px;
    background: #1b5bc200;
    outline: none;
    color: #ffffff;
    border-radius: 15px;
}
.utility_data{
    width: 4vmin;
    height: 4vmin;
    border: 0px;
    background: #1b5bc200;
    outline: none;
    color: #ffffff;
    border-radius: 15px;
    float: left;
    }