.logo {
    width: 90vmin;
    height: 30vmin;
    border: 0px solid #1b5bc200;
    background: #ffffff00;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5.5vmin);
}

.logo_title{
    width: 60vmin;
    height:12vmin;
    position: relative;
    outline: none;
    left: 50%;
    transform: translate(-50%, 0vmin);
}