.logo {
    width: 80vmin;
    height: 12vmin;
    border: 0px solid #1b5bc200;
    background: #ffffff00;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5vmin);
}


.logo_logo{
    width: 12vmin;
    height: 10vmin;
    position: relative;
    outline: none;
    float: left;
    filter: invert(100%);

}


.logo_title{
    height:12vmin;
    position: relative;
    outline: none;
    float: left;
}