/*
검색 및 창고 재고 데이터 출력 화면용 검색창 (화면 비율때문에 새로 만듬)
*/

.searching_bar_main{
    position: relative;
    left: 50%;
    height: 10vmin;
    width: 86vmin;
    background: none;
    padding: 1vmin;
    border-radius: 1vw;
}

.searching_bar_text{
    font-size: 2vmin
}

.searching_bar_etc_box{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 3vmin;
    width: 86vmin;
    background: none;
}
.searching_bar_etc_text_box{
    width: 30vmin;
    height: 2.4vmin;
}
.searching_bar_etc_select_box{
    width: 30vmin;
    height: 2.4vmin;
    font-size: 2vmin
}
.searching_bar_etc_button{
    position: absolute;
    float: right;
    width: 3.6vmin;
    height: 3.6vmin;
    right: 56%;
    top: 50%;
    transform: translate(0%, -50%);
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 3vw;
    background: none;
}

.searching_bar_name{
    position: relative;
    height: 6vmin;
    width: 86vmin;
    left: 50%;
    transform: translate(-50%, 0vmin);
    background: #B7ECA5;
    padding: 1vmin;
    border-radius: 1vw;
}

.searching_bar_input_ad{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
    background: white;
    border: none;
    outline: none;
    line-height: normal;
    width: 78vmin;
    height: 4vmin;
    border-radius: 0.8vw;
    color: black;
    font-size: 3.5vmin;
    }

.searching_bar_button_ad{
    position: absolute;
    float: right;
    width: 5vmin;
    height: 5vmin;
    right: 1%;
    top: 50%;
    transform: translate(-1%, -50%);
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 3vw;
    background: none;
}
.searching_bar_button_ad:hover{
    background: #58C245;
  }